
/*** MAIN LAYOUT ***/

header {
	margin: 25px 0px;
}
footer {
	text-align: right;
	font-size: 1em;
	color: #c0c0c0;
	margin: 35px 0px;
}
/*** GENERAL TEXT STYLES ***/
h1,h2,h3,h4,h5
{
	font-family: 'Fjalla One', sans-serif;
	color: #000;
}
h1 {	
	color: #ff0066;
	font-size: 3.6em;
}
h1 span {
	color: #c0c0c0;
}
h2 {
	font-size: 3em;	
}
h3,
h4 {
	font-size: 2.8em;
}
h5 {
	font-size: 1.4em;
} 
p {
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #f06;
}
a:hover {
	color: #c0c0c0;
	text-decoration: none;
}
/*** PANEL STYLES ***/

.panel {
	min-height: 450px;
}
.panel-heading h1 {
	font-size: 1.5em;
}
.panel-primary {
    border-color: #f06;
}
.panel-primary > .panel-heading {
	background-color: #f06;
	border-color: #f06;
}
.btn-primary {
	margin: 15px 0px;
}
.btn-primary:hover {
	background-color: #c0c0c0;
	border-color: #c0c0c0;
}
.btn-primary, .btn-primary.focus, .btn-primary:focus {
	background-color: #f06;
	border-color: #f06;
}
.fa {
	margin-right:15px;
	color: #f06;
}
/*** TEAMTREEHOUSE PIE CHART ***/

.group:after {
	content:"";display:table;clear:both;
}

.pieChart {
  width: 12.5em + 13em;
  margin: 0 auto;
  padding-top: 1em;
}
.pie {
  	height: 12.5em;
  	width: 12.5em;
	position: relative;
	float:left;
}
pie::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 12.5em - 2.5em * 2;
    height: 12.5em - 2.5em * 2;
    background: #f9f9f9;
    border-radius: 50%;
    top: 2.5em;
    left: 2.5em;
}
.slice {
 	position: absolute;
  	width: 12.5em;
  	height: 12.5em;
  	clip: rect(0px, 12.5em, 12.5em, 12.5em/2);
}
.slice span {	
    display: block;
    position: absolute;
    top: 0;
    left: 0; 
    background-color: black;
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    clip: rect(0px, 12.5em, 12.5em, 12.5em/2); 
}
.legend {
	width: 13em;
  	padding-left: 1em;
  	float:left;  
}
.legend span {
	float: right;
    font-weight: bold;
}
.legend ul {
	list-style-type: none;
    list-style-position: inside;
    font-size: 0.8em;
}
.legend li {
	    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
}
.legend em {
	    font-style: normal;
}
