
/*** MAIN LAYOUT ***/
body {
  font-family: "Open Sans", Arial;
  font-size: 1.4em;
  background: #f9f9f9;
}
body a {
  text-decoration: none;
}
header {
	margin: 25px 0px;
}

footer {
	text-align: right;
	font-size: 1em;
	color: #c0c0c0;
	margin: 35px 0px;
}
/*** GENERAL TEXT STYLES ***/

h1,h2,h3,h4,h5
{
	font-family: 'Fjalla One', sans-serif;
	color: #000;
}
h1 {	
	color: #ff0066;
	font-size: 3.6em;
}
h1 span {
	color: #c0c0c0;
}
h2 {
	font-size: 3em;	
}
h3,
h4 {
	font-size: 2.8em;
}
h5 {
	font-size: 1.4em;
} 
p {
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #f06;
}
a:hover {
	color: #c0c0c0;
	text-decoration: none;
}
ul {
  margin-left: 15px;
}
/*** PANEL STYLES ***/

.panel {
	
}
.panel-heading h1 {
	font-size: 1.5em;
}
.panel-primary {
    border-color: #f06;
}
.panel-primary > .panel-heading {
	background-color: #f06;
	border-color: #f06;
}
.btn-primary {
	margin: 15px 0px;
}
.btn-primary:hover {
	background-color: #c0c0c0;
	border-color: #c0c0c0;
}
.btn-primary, .btn-primary.focus, .btn-primary:focus {
	background-color: #f06;
	border-color: #f06;
}
.fa {
	margin-right:15px;
	color: #f06;
}
/*** TEAMTREEHOUSE PIE CHART ***/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #222222;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.team-treehouse h1, .team-treehouse h2 {
  text-align: center;
}
.team-treehouse h2 {
  font-weight: normal;
}
.teamtreehouse-display {
  margin: 25px 0px 0px 0px;
}
.pieChart {
  width: 25.5em;
  margin: 35px auto;
  padding-top: 1em;
}
.pie {
  height: 12.5em;
  width: 12.5em;
  position: relative;
  float: left;
}
.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 7.5em;
  height: 7.5em;
  background: #f9f9f9;
  border-radius: 50%;
  top: 2.5em;
  left: 2.5em;
}
.slice {
  position: absolute;
  width: 12.5em;
  height: 12.5em;
  clip: rect(0px, 12.5em, 12.5em, 6.25em);
  animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 12.5em;
  height: 12.5em;
  border-radius: 50%;
  clip: rect(0px, 12.5em, 12.5em, 6.25em);
}

.legend {
  width: 13em;
  padding-left: 1em;
  float: left;
}
.legend ul {
  list-style-type: none;
  list-style-position: inside;
  font-size: 0.8em;
}
.legend li {
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}
.legend em {
  font-style: normal;
}
.legend span {
  float: right;
  font-weight: bold;
}
/*** EQUALIZE COLUMN HEIGHTS ***/

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}